@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px 5% 2px 5%;
    background-color: #AB238D;
}

header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
    
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

.icon-header {
    width: 41px;
    height: 38px;
}

#perfil {
    border-radius: 100px;
}

.main-cima {
    /* background-color: rgb(138, 41, 41); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
}

.pesquisa {
    display: flex;
    align-items: center;
}

.pesquisa input{
    width: 350px;
    height: 40px;
    border-radius: 15px;
    background-color: #B7B7B7;
    border: none;
    padding: 0px 5px 0px 5px;
    outline: none;
}

.pesquisa img{
    width: 30px;
    height: 30px;
}

.pesquisa a {
    margin-left: -40px;
    
}

.ad-srool-vertical{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.scrool-vertical {
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    height: 280px;
    white-space: nowrap;
    box-sizing: border-box;
    /* background-color: blue; */
}

.caixa-scrool {
    width: 196px;
    min-height: 127px; /* faz com que a caixa não diminua o tamanho quando o scrool for menor */
    background: linear-gradient(270deg, #D70EAB 0%, #960C77 75%, #070707 100%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-right: 2px;
}

.caixa-scrool label {
    color: #fff;
}

.cu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setas {
    transition: all .8s;
}

::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo da área de rolagem */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Cor da barra de rolagem */
}

.scrool-horizontal {
    background-color: #960C77;
    display: flex;
    gap: 25px;
    padding: 15px;
    width: 90%;
    overflow-x: scroll;
    left: 50%;
    box-sizing: border-box;
    margin: auto;
    border-radius: 7px;
}

.caixa-scrool-horizontal {
    display: flex;
    flex-direction: column;
    height: 320px;
    min-width: 200px;
    background-color: white;
    padding: 5px;
    border-radius: 7px;
}

.imagens-caixa {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.imagens-caixa img {
    margin: auto;
}

.escrita {
    line-height: 25px; 
    padding: 0px 10px 0px 10px;
}

.botao-comprar {
    background-color: #FFD800;
    padding: 10px 25px 10px 25px;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.botao-comprar:hover {
    background-color: #ffaa00;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #9B2781;
    font-size: 13px;
    margin-top: 45px;
}

.escrita-footer {
    line-height: 15px;
    margin-left: 10px;
    color: #fff;
}

.esquerda-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.esquerda-footer nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 13px;
    margin-left:10px;
}

.esquerda-footer nav ul li a {
    text-decoration: none;
    color: white;
}

.esquerda-footer nav ul li a:hover {
    text-decoration: underline;
}

.logo-social {
    width: 28px;
    height: 28px;
}

.links-social {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 5px;
}

.redes-sociais {
    margin-right: 15px;
}

.redes-sociais a {
    text-decoration: none;
    color: #fff;
}

.redes-sociais a:hover {
    text-decoration: underline;
}