@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* geral */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: linear-gradient(130deg,#5C174D,#9B2781,#5C174D);
    background-attachment: fixed;
}

/* header */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px 5% 2px 5%;
    background-color: #AB238D;
}

header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
    
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

.icon-header {
    width: 41px;
    height: 38px;
}

#perfil {
    border-radius: 100px;
}



/* main */
section{
    display: flex;
}
main{
    border-radius: 8px;
    margin-left: 30px; 
    margin-right: 30px;  
}
main ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
main ul img{
    width: 50px;
    height: 50px;
    border: solid black 2px;
    margin: 10px;
}
.main2{
    width: 900px;
    margin-left: 20px;
    /* background: black; */
    gap: 10px;
}
.imagemPrincipal{
    display: flex;
    width: 350px;
    height: 350px;
    border: solid black 2px;
    margin: 10px;
}
.img-produtos{
    margin-top: 30px;

}

/* rolagem scroll */
.rolagem {
    /* position: absolute; */
    /* background-color:white; */
    display: flex;
    gap: 50px;
    padding: 15px;
    width: 90%;
    overflow-x: scroll;
    /* white-space: nowrap; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border: 1px solid black;
    /* box-shadow: 0px 0px 5px 1px black; */
    box-sizing: border-box;
    margin-left: 20px;
    width: 900px;
}

.caixa {
    position: relative;
    height: 250px;
    min-width: 180px;
    background-color: blueviolet;
}
