@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* geral */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: linear-gradient(130deg,#5C174D,#9B2781,#5C174D);
    background-attachment: fixed;
}

/* header */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px 5% 2px 5%;
    background-color: #AB238D;
}

header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
    
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

.icon-header {
    width: 41px;
    height: 38px;
}

#perfil {
    border-radius: 100px;
}

.div-logo{
    display: flex;
    justify-content: center;
    width: 173px;
}


/* main */
main{
    background: white;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;   
}
.mainEsquerda{
    /* background: black; */
    width: 950px;
}
.encimaEsquerda{
    display: flex;
    flex-direction: row;
    /* border-right: solid black 1px; */
}
.mainEsquerda ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
    gap: 5px;
}
.imagemMenor li{
    width: 70px;
    height: 70px;
    border: solid black 1px; 
}
.imagemPrincipal{
    display: flex;
    margin-top: 20px;
    border: solid black 1px;
    margin-left: 8px;
}

/* scroll */
.rolagem {
    /* position: absolute; */
    /* background-color: rgb(45, 45, 45); */
    display: flex;
    gap: 30px;
    padding: 20px;
    width: 950px;
    overflow-x: scroll;
    /* white-space: nowrap; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    border: 1px solid black;
    /* box-shadow: 0px 0px 10px 2px magenta; */
    box-sizing: border-box;
    margin-top: 20px;
}

.caixa {
    position: relative;
    height: 360px;
    min-width: 230px;
    /* background-color: blueviolet; */
    border: black solid 1px;
}
.preco{
    display: flex;
    flex-direction: column;
    margin-left: 7px;
}
.preco span{
    color: #27d639;
}
.preco img{
    display: flex;
}
.preco .frete{
    display: flex;
    flex-direction: row;
}
.frete h4{
    margin-top: 15px;
}
.estrela{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.preco ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 3px;
    margin-top: 4px;
}
.mainDireita{
    /* background: black; */
    border-left: solid black 1px;
    height: 472px;
    width: 510px;
}
.encimaDireita{
    margin-left: 50px;
    margin-top: 20px;
}
.estrela-vazia{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.encimaDireita span{
    color: #27d639; 
}
.frete{
    display: flex;
    flex-direction: row;
}
.caixas{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.caixa-ml{
    width: 100px;
    height: 90px;
    border-radius: 10px;
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.compra{
    width: 180px;
    height: 50px;
    background: linear-gradient(90deg,#BD00FF,#723786,#BD00FF);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 78px;
}
.compra h2{
    color: white;
}
.carrinho{
    width: 200px;
    height: 50px;
    margin-top: 20px;
    margin-left: 68px;
    background: linear-gradient(90deg,#256FFF,#004CA5,#256FFF);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrinho h3{
    color: #9CF3FF;
    display: flex;
    margin-top: 5px;
}
.baixoDireita{
    /* background: black; */
    margin-top: 57px;
    border-top: solid black 1px;
    width: 500px;
    height: 400px;
}
.maisSobre{
    text-align: justify;
}
.maisSobre h2{
    font-size: 30px;
}
.maisSobre h3{
    font-size: 25px;
}
.maisSobre h4{
    font-size: 20px
}
.escrita-sobre{
    text-align: justify;
    font-size: 20px;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #9B2781;
    font-size: 13px;
    margin-top: 45px;
}

.escrita-footer {
    line-height: 15px;
    margin-left: 10px;
    color: #fff;
}

.esquerda-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.esquerda-footer nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 13px;
    margin-left:10px;
}

.esquerda-footer nav ul li a {
    text-decoration: none;
    color: white;
}

.esquerda-footer nav ul li a:hover {
    text-decoration: underline;
}
.logo-social {
    width: 28px;
    height: 28px;
}

.links-social {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 5px;
}

.redes-sociais {
    margin-right: 15px;
}

.redes-sociais a {
    text-decoration: none;
    color: #fff;
}

.redes-sociais a:hover {
    text-decoration: underline;
}