@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* geral */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: linear-gradient(120deg,#5C174D,#9B2781,#5C174D);
}

/* header */
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px 5% 2px 5%;
    background-color: #AB238D;
}

header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
    
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

.icon-header {
    width: 41px;
    height: 38px;
}

#perfil {
    border-radius: 100px;
}



/* main */
main{
    background: white;
    margin: 30px;
    border-radius: 10px;
}
.mainEsquerda{
    /* background: black; */
    width: 1250px;
    display: flex;
}
main ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
    gap: 5px;
}
main ul img{
    width: 70px;
    height: 70px;
    border: solid black 1px; 
}
.imagemPrincipal{
    display: flex;
    margin-top: 20px;
    border: solid black 1px;
    margin-left: 8px;
}

/* scroll */
.rolagem {
    /* position: absolute; */
    /* background-color: rgb(45, 45, 45); */
    display: flex;
    gap: 30px;
    padding: 20px;
    width: 1250px;
    overflow-x: scroll;
    /* white-space: nowrap; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    border: 1px solid black;
    /* box-shadow: 0px 0px 10px 2px magenta; */
    box-sizing: border-box;
    margin-top: 20px;
}

.caixa {
    position: relative;
    height: 360px;
    min-width: 230px;
    /* background-color: blueviolet; */
    border: black solid 1px;
}
.preco span{
    color: #27d639;
}
.preco img{
    display: flex;
}
.preco .frete{
    display: flex;
    flex-direction: row;
}
.preco .frete h4{
    margin-top: 15px;
}