@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px 5% 2px 5%;
    background-color: #AB238D;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

.icon-header {
    width: 41px;
    height: 38px;
}

#perfil {
    border-radius: 100px;
}

.div-logo{
    display: flex;
    justify-content: center;
    width: 173px;
}

#menu-hamburguer {
    display: none;
}

.fechar {
    display: none;
}

/* Menu que aparece quando clica na imagem de perfil */
.menu-perfil {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #8f508b;
    color: black;
    top: 8%;
    right: 6.3%;
    padding: 25px;
    border-radius: 5px;
    height: 110px;
}

#fechar-perfil {
    width: 19px;
    display: block;
    position: absolute;
    top: 10px;
    right: 7px;
    cursor: pointer;
    filter: invert(100%);
}

.desliga {
    display: none;
}


/* main-cima */
main {
    margin: 25px;
}

.main-cima h1 {
    font-weight: 400;
    font-size: 30px;
}


/* scrool */
.scrool-horizontal {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
}

.caixa-scrool {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    padding-right: 20px;
}

.imagem-produto {
    height: 100px;
    width: 100px;
    border-right: solid 1px black;
}




@media (max-width: 992px) {
    header ul {
        gap: 15px;
        height: 50px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .main-cima {
        padding-top: 30px;
    }

    .div-logo {
        width: 122.25px;
    }

    .lista-icons-header {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .icon-header {
        width: 30.75px;
        height: 28.5px;
    }

    #logoSite {
        width: 45px;
        height: 45px;
    }
    
    /* menu do header */
    .menu {
        display: none;
    }

    .menu-ativado {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #960C77;
        height: 300px;
        width: 95%;
        top: 0.5%;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        justify-content: center;
        gap: 15px;
        border-radius: 7px;
        border: 1.5px solid #d108a5;
    }

    .desactive {
        display: none;
    }

    .div-hamburguer {
        display: flex;
        width: 122.25px;
        justify-content: center;
    }

    #menu-hamburguer {
        width: 24px;
        height: 24px;
        display: block;
    }

    #fechar {
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        filter: invert(100%);
    }

    .menu-perfil {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #8f508b; 
        color: black;
        top: 8%;
        right: 6.3%;
        padding: 25px;
        border-radius: 5px;
        height: 110px;
        gap: 25px;
    }
}