@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px 5% 2px 5%;
    background-color: #AB238D;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

.icon-header {
    width: 41px;
    height: 38px;
}

#perfil {
    border-radius: 100px;
}

.div-logo{
    display: flex;
    justify-content: center;
    width: 173px;
}

#menu-hamburguer {
    display: none;
}

.fechar {
    display: none;
}

/* Menu que aparece quando clica na imagem de perfil */
.menu-perfil {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #8f508b;
    color: black;
    top: 8%;
    right: 6.3%;
    padding: 25px;
    border-radius: 5px;
    height: 110px;
}

#fechar-perfil {
    width: 19px;
    display: block;
    position: absolute;
    top: 10px;
    right: 7px;
    cursor: pointer;
    filter: invert(100%);
}

.desliga {
    display: none;
}


/* main-cima */
main {
    margin: 25px;
}

.main-cima h1 {
    font-weight: 400;
    font-size: 30px;
}


/* scrool */
.scrool-horizontal {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    white-space: nowrap;
    box-sizing: border-box;
}

.caixa-scrool {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
    padding-right: 20px;
}

.imagem-produto {
    height: 100px;
    width: 100px;
    border-right: solid 1px black;
}

.nav-estrelas{
    display: inline-flex;
}

.estrela {
    height: 10px;
}

/* main-baixo */
.main-baixo {
    display: flex;
    flex-direction: column;
}

.main-baixo h1 {
    font-weight: 400;
    font-size: 30px;
    margin-top: 25px;
}

.conteudo-main-baixo {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 50px;
}


/* conteúdo que fica na parte de baixo da pag */
.produto {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.imagem-produto2 {
    display: inline-flex;
    align-items: center;
}

.imagem-produto2 img {
    height: 150px;
    width: 150px;
}

#titulo-produto {
    margin-left: 12.5%;
    margin-bottom: 5px;
}

.input-frete input {
    height: 35px;
    width: 200px;
    border-radius: 13px;
    border: 1px solid black;
}

.input-frete a {
    color: #00A611;
    border: 1px #00A611 solid;
    padding: 7px;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

.input-frete a:hover {
    color: #00c814;
    border: 1px #00c814 solid;
}

/* parte q fica a quantidade */
.quantidade {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contador {
    border: 1px solid black;
    border-radius: 100px;
    padding: 0px 5px 0px 5px;
}

.contador input {
    height: 25px;
    width: 50px;
    text-align: center;
    padding-left: 13px;
    border: none;
    font-size: 20px;
}

.contador button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 25px;
    cursor: pointer;
}

#titulo-quantidade {
    margin-bottom: 50px;
}

/* parte da entrega e de preço */
.escrita-frete-preço {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

#frete-7-dias  {
    color: #00A611;
}

/* parte da caixa da direita */
.caixa-direita-cima {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 7px;
    /* background-color: red; */
    height: 70px;
    border-bottom: 1px solid black;
}

.escrita2 {
    text-align: right;
}

.escrita2 strong {
    color: #00A611;
}

.caixa-direita-meio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.escrita4 {
    text-align: right;
}

.escrita4 p {
    font-size: 12px;
}

.escrita4 span {
    color: #00A611;
}

.caixa-direita-baixo {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa-direita-baixo a {
    text-decoration: none;
    color: #fff;
    background-color: #00A611;
    padding: 7px 35px 7px 35px;
    margin-bottom: 5px;
    border-radius: 100px;
}

.caixa-direita {
    border: 1px solid black;
    border-radius: 7px;
    padding: 5px;
}

/* footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #9B2781;
    font-size: 13px;
    bottom: 0;
    width: 100%;
}

.escrita-footer {
    line-height: 15px;
    margin-left: 10px;
    color: #fff;
}

.esquerda-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.esquerda-footer nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 13px;
    margin-left:10px;
}

.esquerda-footer nav ul li a {
    text-decoration: none;
    color: white;
}

.esquerda-footer nav ul li a:hover {
    text-decoration: underline;
}
.logo-social {
    width: 28px;
    height: 28px;
}

.links-social {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 5px;
}

.redes-sociais {
    margin-right: 15px;
}

.redes-sociais a {
    text-decoration: none;
    color: #fff;
}

.redes-sociais a:hover {
    text-decoration: underline;
}

@media (min-height: 831px) {
    footer {
        position: absolute;
    }
}

@media (max-width: 992px) {
    header ul {
        gap: 15px;
        height: 50px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .main-cima {
        padding-top: 30px;
    }

    .div-logo {
        width: 122.25px;
    }

    .lista-icons-header {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .icon-header {
        width: 30.75px;
        height: 28.5px;
    }

    #logoSite {
        width: 45px;
        height: 45px;
    }
    
    /* menu do header */
    .menu {
        display: none;
    }

    .menu-ativado {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #960C77;
        height: 300px;
        width: 95%;
        top: 0.5%;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        justify-content: center;
        gap: 15px;
        border-radius: 7px;
        border: 1.5px solid #d108a5;
    }

    .desactive {
        display: none;
    }

    .div-hamburguer {
        display: flex;
        width: 122.25px;
        justify-content: center;
    }

    #menu-hamburguer {
        width: 24px;
        height: 24px;
        display: block;
    }

    #fechar {
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        filter: invert(100%);
    }

    .menu-perfil {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #8f508b; 
        color: black;
        top: 8%;
        right: 6.3%;
        padding: 25px;
        border-radius: 5px;
        height: 110px;
        gap: 25px;
    }
}