/* GERAL */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

span {
    color: red;
}

.opcional {
    color: gray;
}


.texto {
    margin-bottom: 0;
    font-size: 20px;
}

.dois-linha{
    display: flex;
    gap: 25px;
}
/* GERAL */

/* ______________________________________________________________ */
/* HEADER */

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px 5% 2px 5%;
    background-color: #AB238D;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

.icon-header {
    width: 41px;
    height: 38px;
}

#perfil {
    border-radius: 100px;
}

.div-logo{
    display: flex;
    justify-content: center;
    width: 173px;
}

#menu-hamburguer {
    display: none;
}

.fechar {
    display: none;
}

.menu-perfil {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #8f508b;
    color: black;
    top: 8%;
    right: 6.3%;
    padding: 25px;
    border-radius: 5px;
    height: 110px;
}

#fechar-perfil {
    width: 19px;
    display: block;
    position: absolute;
    top: 10px;
    right: 7px;
    cursor: pointer;
    filter: invert(100%);
}

.desliga {
    display: none;
}

@media (max-width: 992px) {
    header ul {
        gap: 15px;
        height: 50px;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    .main-cima {
        padding-top: 30px;
    }

    .div-logo {
        width: 122.25px;
    }

    .lista-icons-header {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .icon-header {
        width: 30.75px;
        height: 28.5px;
    }

    #logoSite {
        width: 45px;
        height: 45px;
    }
    
    /* menu do header */
    .menu {
        display: none;
    }

    .menu-ativado {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #960C77;
        height: 300px;
        width: 95%;
        top: 0.5%;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        justify-content: center;
        gap: 15px;
        border-radius: 7px;
        border: 1.5px solid #d108a5;
    }

    .desactive {
        display: none;
    }

    .div-hamburguer {
        display: flex;
        width: 122.25px;
        justify-content: center;
    }

    #menu-hamburguer {
        width: 24px;
        height: 24px;
        display: block;
    }

    #fechar {
        width: 24px;
        height: 24px;
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        filter: invert(100%);
    }

    .menu-perfil {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #8f508b;
        color: black;
        top: 8%;
        right: 6.3%;
        padding: 25px;
        border-radius: 5px;
        height: 110px;
        gap: 25px;
    }

    .ad-srool-vertical {
        display: flex;
        flex-direction: column;
    }

    #propaganda {
        width: 283.5px;
        height: 133.5px;
        border-radius: 15px;
        margin-top: 30px;
    }

    .pesquisa input{
        width: 300px;
        height: 40px;
    }

    .caixa-scrool label {
        font-size: 9px;
    }

    #desconto-icone {
        height: 50px;
        width: 50px;
    }

    #local-icone {
        height: 45px;
        width: 35px;
    }

    #cupom-icone{
        height: 45px;
        width: 45px;
    }

    .scrool-vertical {
        display: flex;
        flex-direction: row;
        gap: 15px;
        height: 74px;
        white-space: nowrap;
        box-sizing: border-box;
        margin-bottom: 13%;
    }

    .caixa-scrool{
        width: 98px;
        min-height: 63.5px; /* faz com que a caixa não diminua o tamanho quando o scrool for menor */
        max-height: 63.5px;
        background: linear-gradient(270deg, #D70EAB 0%, #960C77 75%, #070707 100%);
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        margin-right: 2px;
    }

    .setas {
        display: none;
    }

    .caixa-scrool-horizontal {
        display: flex;
        flex-direction: column;
        height: 240px;
        min-width: 150px;
        background-color: white;
        padding: 5px;
        border-radius: 7px;
    }

    /* ícone coração */
    .caixa-scrool-horizontal a img {
        height: 20px;
        width: 20px;
    }

    /* imagem do produto */
    .caixa-scrool-horizontal img {
        height: 85px;
        width: 85px;
    }

    .caixa-scrool-horizontal label {
        font-size: 12px;
    }

    .botao-comprar {
        margin-top: 7px;
    }

    .scrool-horizontal {
        width: 95%;
    }

    .logo-social {
        width: 14px;
        height: 14px;
    }
    
    footer {
        /* position: absolute; */
        top: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #9B2781;
        font-size: 6px;
        margin-top: 25px;
    }

    .esquerda-footer nav ul {
        display: flex;
        list-style-type: none;
        gap: 20px;
        font-size: 7px;
        margin-left:10px;
    }

    .escrita-footer {
        line-height: 10px;
    }
}

/* HEADER */


/* ________________________________________________________ */
/* Parte de cima */

.teto {
    display: flex;
    gap: 515px;
    margin-right: 0px;
    margin-left: 0px;
}

.cadastrar {
    margin-left: 50px;
}

.teto a {
    text-decoration: none;
    color: black;
}

.teto p{
    font-size: 30px;
    margin-left: 85px;
}

.texto {
    font-size: 30px;
    margin-left: 85px;
}

/* Parte de cima */

/* _____________________________________________________________ */
/* Geral - Main */


input {
    width: 570px;
    height: 40px;
    border-radius: 10px;
    margin-left: 85px;
}

.cep input{
    width: 570px;
    height: 40px;
    border-radius: 10px;
}

.cep img{
    width: 35px;
    height: 35px;
    opacity: 50%;
}

.cep img:hover {
    opacity: 100%;
}

.cep a {
    position: absolute;
    left: 615px;
    margin-top: 5px;
}


.ajuda {
    font-size: 11px;
    display: flex;
    margin-left: 88px;
    color: #00A611;
}

/* _____________________________________________________________ */
/* Espaço entre os items */
.estado{
    margin-top: 20px;
}
.cidade{
    margin-top: 20px;
    margin-left: -95px;
}
.numero{
    margin-top: 20px;
}
.complemento{
    margin-top: 20px;
    margin-left: -95px;
}
.bairro {
    margin-top: 20px;
}
.ponto-de-referencia {
    margin-top: 20px;
}
.rua {
    margin-top: 20px;
}
.nome {
    margin-top: 20px;
}
.cpf{
    margin-top: 20px;
    margin-left: -95px;
}

/* _____________________________________________________________ */
/* Input maior */
.bairro input {
    width: 1158px;
}


.ponto-de-referencia input{
    width: 1158px;
}

.rua input{
    width: 1158px;
}

/* Input maior */





/* ____________________________________________________________________ */
/* Botão */
.entrega {
    display: flex;
    background-color: #00A611;
    border-radius: 20px;
    padding: 10px;
    text-decoration-line: none;
    margin-top: 10px;
    width: 225px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.botao{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.botao p:hover {
        background-color: #024920;
}

/* Botão */


/* __________________________________________________ */
/* Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #9B2781;
    font-size: 13px;
    margin-top: 45px;
}

.escrita-footer {
    line-height: 15px;
    margin-left: 10px;
    color: #fff;
}

.esquerda-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.esquerda-footer nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 13px;
    margin-left:10px;
}

.esquerda-footer nav ul li a {
    text-decoration: none;
    color: white;
}

.esquerda-footer nav ul li a:hover {
    text-decoration: underline;
}

.logo-social {
    width: 28px;
    height: 28px;
}

.links-social {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 5px;
}

.redes-sociais {
    margin-right: 15px;
}

.redes-sociais a {
    text-decoration: none;
    color: #fff;
}

.redes-sociais a:hover {
    text-decoration: underline;
}