/* GERAL */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

span {
    color: red;
}

.opcional {
    color: gray;
}


.texto {
    margin-bottom: 0;
    font-size: 20px;
}

.dois-linha{
    display: flex;
    gap: 25px;
}
/* GERAL */

/* ______________________________________________________________ */
/* HEADER */

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2px 5% 2px 5%;
    background-color: #AB238D;
}

header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
    
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

.icon-header {
    width: 41px;
    height: 38px;
}

#perfil {
    border-radius: 100px;
}

.pesquisa input{
    width: 350px;
    height: 40px;
    border-radius: 20px;
    background-color: #B7B7B7;
    border: none;
    padding: 0px 5px 0px 5px;
    outline: none;
}

.pesquisa img{
    width: 35px;
    height: 35px;
}

.pesquisa a {
    position: absolute;
    left: 320px;
    margin-top: 5px;
}

.ad-srool-vertical{
    display: flex;
    flex-direction: row;
}

.caixa-scrool {
    width: 201px;
    height: 132px;
    background: linear-gradient(270deg, #D70EAB 0%, #960C77 75%, #070707 100%);
    border-radius: 10px;
}

/* HEADER */


/* ________________________________________________________ */
/* Parte de cima */

.teto {
    display: flex;
    gap: 700px;
    margin-right: 25px;
    margin-left: 0px;
}

.cadastrar {
    margin-left: 50px;
}

.teto a {
    text-decoration: none;
    color: black;
}

.teto p{
    font-size: 30px;
    margin-left: 85px;
}

p {
    font-size: 30px;
    margin-left: 85px;
}

/* Parte de cima */

/* _____________________________________________________________ */
/* Geral - Main */


input {
    width: 660px;
    height: 40px;
    border-radius: 10px;
    margin-left: 85px;
}

.cep input{
    width: 660px;
    height: 40px;
    border-radius: 10px;
}

.cep img{
    width: 35px;
    height: 35px;
}

.cep a {
    position: absolute;
    left: 700px;
    margin-top: 5px;
}

/* _____________________________________________________________ */
/* Espaço entre os items */
.estado{
    margin-top: 20px;
}
.cidade{
    margin-top: 20px;
    margin-left: -95px;
}
.numero{
    margin-top: 20px;
}
.complemento{
    margin-top: 20px;
    margin-left: -95px;
}
.bairro {
    margin-top: 20px;
}
.ponto-de-referencia {
    margin-top: 20px;
}
.rua {
    margin-top: 20px;
}
.nome {
    margin-top: 20px;
}
.cpf{
    margin-top: 20px;
    margin-left: -95px;
}

/* _____________________________________________________________ */
/* Input maior */
.bairro input {
    width: 1337px;
}


.ponto-de-referencia input{
    width: 1337px;
}

.rua input{
    width: 1337px;
}

/* Input maior */





/* ____________________________________________________________________ */
/* Botão */
.entrega {
    display: flex;
    background-color: #00A611;
    border-radius: 20px;
    padding: 10px;
    text-decoration-line: none;
    margin-top: 10px;
    width: 225px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.botao{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin-right: 110px;
}

/* Botão */