@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 5% 2px 5%;
}

div{
    display: flex;
    align-items: center;
    gap: 50;
}

nav{
    display: flex;
    flex-direction: column;
}

.barra{
    display: flex;
    margin: -10px;
}

ul{
    display: flex;
    list-style:none;
    flex-direction: row;
    gap: 66px;
    justify-content: center;
}

li{
    color: #fff;
}
header{
    background-color: #AB238D;
}

.icon-header {
    width: 41px;
    height: 38px;
}

#perfil {
    border-radius: 100px;
}

.icon-direita {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 25px;
}

.img_direita{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.macaco{
    border-radius: 100%;
}

.informacoes{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    /* margin-top: 90px; */
}

.informacoes a{
    text-decoration: none;
    color: #00A611;
}

.caixa{
    /* background-color: rgb(116, 116, 225); */
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    width: 238px;
    height: 150px;
    align-items: start;
    flex-direction: column;
    margin-top: 50px;
    
}

.texto1{
    display: flex;
    gap: 83px;    
}

.texto2{
    display: flex;
    gap: 148px;   
}

.texto2 strong{
   color:#00A611; 
}

.caixa_dentro{
    /* background-color:rgb(252, 113, 113); */
    border-radius: 0px 0px 9px 9px;
    margin-left: -1px;
    border: 1px solid black;
    display: flex;
    width: 238px;
    height: 205px;
    align-items: start;
    flex-direction: column;
    
}

.texto3{
    display: flex;
    gap: 140px;   
}

.texto4{
    display: flex;
    margin-left: 69px;   
}

.texto4 span{
    color: #00A611;
}

.main_cima{
    display: flex;
    justify-content:space-between;
    margin-top:20px;    
}

.frete1{
    /* background-color: rgb(245, 120, 120); */
    padding: 10px;
    align-items: center;
    border-radius: 9px;
    border: 1px solid black;
    
       
}

.frete2{
    /* background-color: #88f492; */
    padding: 10px;
    align-items: center;
    border-radius: 9px;
    border: 1px solid black;
}

.frete3{
    /* background-color: rgb(121, 121, 199); */
    padding: 10px;
    align-items: center;
    border-radius: 9px;
    border: 1px solid black;
}

form{
    flex-direction: row;
    display: flex;
    gap: 15px;
    
}

form input:hover{
    cursor: pointer;
}

.main_meio1{
    flex-direction: column;
    align-items: start;
    margin-top: 80px;
}

.cupom{
    width: 450px;
    height: 30px;
    border-radius: 20px;
}

.cupom::placeholder {
    padding-left: 10px;
}

.aplicar{
    text-decoration: none;
    border: solid #00A611;
    border-radius: 9px;
    color: #00A611;
    width: 60px;
    
}

.main_meio2{
    flex-direction: column;
    align-items: start;
    margin-top: 80px;
}

.boleto{
    flex-direction: column;
}

.cartao{
    flex-direction: column;
}

.pix{
    flex-direction: column;
}


.main_meio3{
    flex-direction: column;
    align-items: start;
    margin-top: 80px;
}

.main_meio3 form{
    margin-left: 280px;
}

.card{
    align-items: center;
    gap: 20px;
    margin-top: 80px;
}

.senha_3dig{
 border-radius: 20px;
 height: 30px;
}

.senha_3dig::placeholder{
    padding-left: 10px;
}

.codSeguranca{
    align-items: center;
}

.parcelas{
    border: 1px solid black;
    border-radius: 20px;
    height: 30px;
    justify-content: space-between;
}

.infoCard{
    flex-direction: column;
    align-items: start;
    gap: 40px;
}

.butao{
    background-color: #00A611;
    color: #fff;
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 200px;
    cursor: pointer;
}

.compra{
    flex-direction: column;

}

.compra_texto{
    display: flex;
    flex-direction: row;
    gap: 60px;   
}

.main_meio4{
    flex-direction: column;
    gap: 50px;
}



