@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

section{
    display: flex;
    align-items: center;  
}

div{
    display: flex;
    align-items: center;
    gap: 50;
}

nav{
    flex-direction: column;
    /* padding-left: 450px; */
    background-color: red;
}

.barra{
    display: flex;
    margin: -10px;
}

ul{
    display: flex;
    list-style:none;
    flex-direction: row;
    gap: 66px;
    justify-content: center;
}

li{
    color: #fff;
}
header{
    background-color: #AB238D;
}